body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #F2EFC7;
}
.website-headers {
  background-color: #D4B483;
  padding: 10px;
}
.image {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.dialectableImage {
  width: 250px;
  height: 500px;
  object-fit: cover;
}
.arrow {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 20px;
}
#carousel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
.timer {
  display: flex;
  justify-content: center;
  gap: 30px;
}
#time_input {
  display: flex;
  flex-direction: column;
}
#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#todo_list {
  list-style-type: none;
}
.image:hover {
  background-color: #ffffff;
  transform: translateY(-10px) scale(0.9)
}
.dialectableImage:hover{
  background-color: #ffffff;
  transform: translateY(-10px) scale(0.9)
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#add-ons {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.imagepair {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  gap: 20px;
}
.navbar {
  background-color: #F7FFE0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
  border-radius: 100px;
}
.navitems {
  padding-left: 350px;
  display: flex;
  gap: 80px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
